<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "MattChat" %></h2>
  <p class="lead">Totally not just a slack clone!<br />Sign up or log in to your organization to start chatting!</p>
</div>
