/* This file is for your main application css. */
$fa-font-path: "../fonts";
@import "bootstrap";
@import "bootstrap-vue";
@import "fontawesome";
@import "solid";

/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* my stuff */
#my-video  {
  position: absolute;
  width: 150px;
  height: 120px;
  bottom: 1rem;
  right: 1rem;
  padding: 0;
  margin: 0;
}

#my-video video {
  width: 100%;
  transform: 'scale(-1, 1)';
}

#caller-video video {
  width: 100%;
}