<style>
  #outgoing {
    width: 600px;
    word-wrap: break-word;
  }
</style>
<div id="chat-test">
  <form>
    <textarea id="incoming"></textarea>
    <button type="submit">submit</button>
  </form>
  <pre id="outgoing"></pre>
</div>